.music-player {
  background-color: #121212;
  color: white;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.player-header h2 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}

.album-art {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.play-pause-btn {
  background-color: #1db954;
  border: none;
  padding: 15px;
  font-size: 30px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.play-pause-btn:hover {
  background-color: #1ed760;
}

.progress-container {
  width: 100%;
  margin-bottom: 20px;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #1db954;
}

.time {
  color: #aaa;
  font-size: 12px;
}

.volume {
  margin: 15px 0;
}

.song-selection button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.song-selection button:hover {
  background-color: #1db954;
}

.song-selection button:focus {
  outline: none;
}